#navContainer {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

#navContainer .navLink {
  background-color: var(--color-dark);
  padding: 0 1rem;
  border: 0.5px solid var(--color-light);
  transition: var(--transition);
  flex: 1;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
#navContainer .navLink:hover {
  background-color: var(--color-light);
  border: 0.5px solid var(--color-dark);
  color: var(--color-dark);
}
