
#eventsContainer {
  height: calc(100vh);
  overflow: scroll;
}

#eventsContainer .sectionsHsectionsEventsome {
  height: calc(100vh - 3rem);
}
#eventsContainer .sectionEvents1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
