#profileContainer {
  height: 100vh;
  width: 100%;
}
#profileContainer .sectionsProfile {
  height: 95%;
}
#profileContainer .sectionProfile1 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profileContainer .ProfileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#profileContainer .ProfileForm input,
#profileContainer .sectionProfile1 h1,
#profileContainer .sectionProfile1 p {
  text-align: center;
  margin: 0.5rem 0;
}
#profileContainer .sectionProfile1 button {
  text-align: center;
  margin: 0 0.5rem;
}

#profileContainer .sectionProfile2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profileContainer .ProfileForm input,
#profileContainer .sectionProfile2 h1,
#profileContainer .sectionProfile2 p {
  text-align: center;
  margin: 0.5rem 0;
}
#profileContainer .sectionProfile2 button {
  text-align: center;
  margin: 0 0.5rem;
}
#profileContainer .sectionProfile2 .ProfileForm {
  text-align: center;
  padding-bottom: 4rem;
}
