#start {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#start .buttonStartContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
}
#start .buttonStart {
  border-radius: 50px 100px;
  transition: var(--transition);
}
#start .buttonStart:hover {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}
