.App {
  text-align: center;
  background-color: var(--color-dark);
}

:root {
  --color-1: #ffe200;
  --color-2: #ec5f5d;
  --color-3: #6fceb4;
  --color-4: #5a94d2;
  --color-5: #ff3333;
  --color-dark: #000000;
  --color-light: #ffffff;
  --transition: all 500ms ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-light);
  background-color: transparent;
}
button {
  border: 1px solid var(--color-light);
  padding: 0.5rem 1rem;
  border-radius: 50px 100px;
}

@font-face {
  font-family: integralCFBold;
  src: url("./assets/fonts/WebfontIntegralCF/IntegralCF-Bold.woff")
    format("woff");
}
@font-face {
  font-family: integralCF;
  src: url("./assets/fonts/WebfontIntegralCF/IntegralCF-Regular.woff")
    format("woff");
}

#App .sectionfond {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/fondo.jpg");
  background-size: contain;
  position: absolute;
  z-index: -10;
}
/* 
#App .imgHome {
  height:100%;
  width:100%;
} */
